table,th,td{
 
    border-collapse: collapse;
}
table{
    width: 100%;
}
th,td{
padding: .5rem 0.2rem;
}
thead{
   background-color: aquamarine;
}
tr{
    border-bottom: 1px solid #000;
}
tr:first-child{
   border-top: 2px solid #000;
}
tr:last-child{
    border-bottom: none
}
button{
    cursor: pointer;
}
.dimensions_container{
    display: flex;
    flex-wrap: wrap;
}

.dimensions_component{
    list-style-type: none;
    border: 1px solid gray;
   
    width: max-content;
    margin: 10px;
    padding: 0.151rem 0.41rem;
    cursor: pointer;
}
.bgWrong{
  border-left: 5px solid rgb(82, 70, 210);
}